<!DOCTYPE html>
<html lang="en">

<head>
  <title>ONG - AYUDA A UN PELUDO</title>
</head>

<body>

  <div class="header">
    <h1>ONG - AYUDA A UN PELUDO</h1>
  </div>

  <div class="topnav">
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">

        <h2>GATOS EN BUSCA DE UN HOGAR</h2>
        <div class="ImgDeGato" style="height:300px;">
        </div>
        <p class="txt">Todos los gatos que acogemos reciben la debida atención veterinaria
          (analíticas, tratamientos, cirugías, etc.) y son identificados y esterilizados antes
          de emprender la búsqueda de adoptantes comprometidos a proporcionarles una
          vida sana y feliz.</p>
        <center>
          <a href="Menugato.html">
            <button class="button button2">&#128151Conócenos&#128151</button>
          </a>
        </center>
      </div>

      <div class="card">
        <h2>PERROS EN BUSCA DE UN HOGAR</h2>
        <div class="ImgDePerro" style="height:300px;"> </div>
        <p class="txt">Todos los perros que acogemos reciben la debida atencion veterinaria
          (analiticas, tratamientos, cirugias, etc) y son identificados e esterilizados antes
          de emprender la busqueda de adoptantes comprometidos a proporcionarles una vida sana y feliz</p>
        <center>
          <a href="MenuCanino.html">
            <button class="button button2">&#128151Conócenos&#128151</button>
          </a>
        </center>

      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Sobre Nosotros</h2>
        <div class="logo" style="height:140px;"></div>
        <p>Somos una organización sin fines de lucro que fomenta la tenencia y adopción responsable.
          <strong>Rescatamos, rehabilitamos y reubicamos</strong> perros y gatos abandonados en hogares comprometidos y
          que los consideren un miembro más de la familia.
        </P>
        </p>
      </div>
      <div class="card">
        <h3>Integrantes
        </h3>
        <div class="integrantes">
          <p>Franccesco Artuso</p>
        </div>
        <div class="integrantes">
          <p>Geraldine Bastias</p>
        </div>
        <div class="integrantes">
          <p>Alexander Lara</p>
        </div>
        <div class="integrantes">
          <p>Matias Peñaloza</p>
        </div>
      </div>
      <div class="card">
        <h3>Nuestras Redes Sociales</h3>
        <div class="nav-social">
          <a href="https://www.facebook.com" target="_blank" class="nav-social__item"><i
              class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank" class="nav-social__item"><i
              class="fa-brands fa-twitter"></i></a>
          <a href="https://www.instagram.com" target="_blank" class="nav-social__item"><i
              class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#">
              <img src="img/Logo_nuevo_blanco.png" alt="Logo de la Compañia">
            </a>
          </figure>
        </div>
        <div class="box">
          <h2>CONTÁCTENOS</h2>
          <p>
            Para contactarnos puede encontrar nuestros correos en el apartado de "Adoptar", al igual que los requisitos
            y cosas a tomar en cuenta antes de llevar a una mascota a tu hogar. <br> <br>
            Un animal es un ser vivo que requiere afecto, atención y cuidado, con el cual debes comprometerte a no
            abandonarlo o maltratarlo.
          </p>
        </div>
        <div class="box">
          <h2>SÍGUENOS</h2>
          <div class="red-social">
            <a href="https://www.facebook.com" target="_blank" class="nav-social__item"><i
                class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="nav-social__item"><i
                class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="nav-social__item"><i
                class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="grupo-2">
        <small>&copy; 2022 <b> ONG - AYUDA A UN PELUDO</b> - Todos los Derechos Reservados.</small>
      </div>
    </footer>
  </div>

</body>

</html>